@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uxum Grotesque";
  src: local("Uxum Grotesque"),
    url("/fonts/UxumGrotesque-Medium.otf") format("opentype");
  font-weight: 500;
}
body {
  @apply bg-tintblue5 md:bg-greywhite100 font-inter font-normal text-base text-greyblack100 leading-tight antialiased scroll-smooth;
}
.list-alpha {
  list-style-type: lower-alpha;
}
ul.info-list li {
  position: relative;
  padding: 5px;
  list-style-image: url("./assets/icons/bullet.svg");
}
ul.info-list li::before {
  content: "";
  @apply absolute top-0 left-[-10px] w-[1px] h-full bg-greyblack600 -z-10;
}
ul.info-list li:first-child::before {
  top: 25%;
}
ul.info-list li:last-child::before {
  height: 85%;
}

.swiper-pagination-bullet {
  @apply bg-greyblack400 w-2 h-[6px] rounded-full transition-all duration-300;
}

.swiper-pagination-bullet-active {
  @apply bg-primaryblue w-6;
}

.custom-dashed {
  border-top: 0.5px dashed #344dab;
  border-image: repeating-linear-gradient(
      to right,
      #344dab 0,
      #344dab 10px,
      transparent 10px,
      transparent 20px
    )
    2;
}
