@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uxum Grotesque";
  src: local("Uxum Grotesque"),
    url("/fonts/UxumGrotesque-Medium.otf") format("opentype");
  font-weight: 500;
}
body {
  @apply bg-tintblue5 md:bg-greywhite100 font-inter font-normal text-base text-greyblack100 leading-tight antialiased scroll-smooth;
}
.list-alpha {
  list-style-type: lower-alpha;
}
ul.info-list li {
  position: relative;
  padding: 5px;
  list-style-image: url("./assets/icons/bullet.svg");
}
ul.info-list li::before {
  content: "";
  @apply absolute top-0 left-[-10px] w-[1px] h-full bg-greyblack600 -z-10;
}
ul.info-list li:first-child::before {
  top: 25%;
}
ul.info-list li:last-child::before {
  height: 85%;
}
